.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
   background-color: #111;  
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav-content{
  margin-top: 200px;
}
.dropbtn {
  background-color: #131413;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 210%;
}
.projects
{
  cursor: pointer;
}
#description{
  width: 79%;
}
#task-form {
  background: gray;
  margin-top: 7%;
  padding: 30px 0 50px 0px;
  border-radius: 10px;
  width: 39%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 50px  rgba(0,0,0,0.2);
  z-index: 100;
  padding: 10px;
}
#task-form h1{
  font-size: 1.5rem;
}
#task-form input{
  width: 80%;
  /* margin-left: 6%;  */
 align-self: center;
}
table {
  margin-left: 20%;
  margin-top: 15px;
}

.add-task {
  cursor: pointer;
  margin-left: 20%;
  margin-top: 15px;
}
/* .todo-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
} */
.radio-group .swatch {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
} 

/* 
.todo-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
} */

#section-1{
 
  margin-left: 20%;
}
.btn-task {
  cursor: pointer;
}
.todo.priority-1, .swatch.high-swatch {
    background: #ff9b73;
}
.todo.priority-1, .swatch.medium-swatch {
  background: #b692fe;
}
.todo.priority-1, .swatch.low-swatch {
  background: #e4ee90;
}


@media (max-width: 676px){
 #task-form {
    margin-left: 48%;
    z-index: 1000;
  }
  table {
    margin-left: 30%;
  }
  .sidenav {
    width: 30%;
  }
  
}